.banner {
  background: $mobile_nav_bg no-repeat center top;
  background-size: cover;
}

.banner__inner {
  background-color: rgba(86, 64, 52, 0.7);
}

.banner__title {
  text-align: center;
}

.banner__title span:nth-child(2n+1) {
  font-family: $cormorant_font;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $light_text_color;
  text-transform: uppercase;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    font-size: 38px;
    line-height: 125%;
  }
}

.banner__title span:nth-child(2n+2) {
  display: block;
  margin: 0;

  font-family: $cormorant_font;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  color: $light_text_color;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    font-size: 34px;
    line-height: 35px;
  }
}
