/* -- BROWN-BUTTON -- */
.brown-button {
  display: block;

  padding: 25px 25px;

  font-size: 16px;
  line-height: 130%;
  color: $light_text_color;

  text-align: center;

  background-color: $mobile_nav_bg;

  border: none;
}
