/* -- CLOSE-BUTTON -- */
.close-button {
  width: 30px;
  height: 30px;

  background-image: url("../img/close_button.svg");
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;

  border: none;

  cursor: pointer;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }

  transition: $standart_transition;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 30px;
    height: 30px;

    background-image: url("../img/close_button_big.svg");
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    width: 30px;
    height: 30px;

    background-image: url("../img/close_button.svg");
  }
}
