/* -- LOG IN -- */

.login__inner {
  position: relative;

  width: 430px;
  min-height: 586px;

  padding: 190px 45px 45px 45px;

  background: #f0eae4 url("../img/login_bg_1x.jpg") no-repeat left top;
  background-size: 430px 138px;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 442px;
    padding: 190px 50px 45px 50px;

    background-size: 442px 138px;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    min-height: 470px;
    width: 270px;
    padding: 120px 15px 45px 15px;

    background-size: 270px 84px;
  }
}

.login h2 {
  margin: 0;
  margin-bottom: 29px;

  font-family: $cormorant_font;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;

  text-align: center;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 22px;

    font-size: 24px;
  }
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 4px 0;

  border: none;
  border-bottom: 1px solid #1d1613;

  font-size: 14px;
  line-height: 21px;
  color: $text_color;

  background-color: transparent;

  &::placeholder {
    color: $hint_color;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    padding: 7px 0;
  }
}

.login input[type="email"] {
  margin-bottom: 35px;
  box-shadow: none;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 24px;
  }
}

.login input[type="email"].invalid-field {
  box-shadow: 0 0 2px 2px red;
}

.login input[type="password"] {
  box-shadow: none;
  margin-bottom: 4px;
}

.login input[type="password"].invalid-field {
  box-shadow: 0 0 2px 2px red;
}

.login__forgot-pass {
  margin: 0;
  margin-bottom: 42px;

  text-align: right;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 34px;
  }
}

.login__forgot-pass a {
  font-size: 12px;
  line-height: 18px;
  color: $hint_color;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active,
  &:focus {
    opacity: $active_opacity;
    text-decoration: underline;
  }

  transition: $standart_transition;
}

.login button[type="submit"] {
  width: 100%;
  margin-bottom: 16px;
}

.login__signup {
  display: flex;
  justify-content: center;

  margin-left: -7px;
}

.login__signup p {
  margin: 0;
  margin-right: 7px;

  font-size: 14px;
  line-height: 21px;
  color: $hint_color;
}

.login__signup a {
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active,
  &:focus {
    opacity: $active_opacity;
    text-decoration: underline;
  }
}

.login__close-button {
  position: absolute;
  right: 20px;
  top: 20px;

  &--nojs {
    display: none;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    right: 15px;
    top: 15px;
  }
}
