.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 0;

  overflow-y: auto;

  visibility: hidden;

  background-color: $primary_bg_color;

  -webkit-overflow-scrolling: touch;

  &--active {
    visibility: visible;
  }
}
