/* -- MAIN BANNER-- */
.main-banner {
  margin-bottom: 120px;

  background-image: url("../img/main_banner_desktop_1x.jpg");

  /* -- RETINA -- */
  @media (min-resolution: $retina) {
    background-image: url("../img/main_banner_desktop_1x.jpg");
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    margin-bottom: 70px;

    background-image: url("../img/main_banner_tablet_1x.jpg");

    /* -- RETINA -- */
    @media (min-resolution: $retina) {
      background-image: url("../img/main_banner_tablet_2x.jpg");
    }
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 60px;

    background-image: url("../img/main_banner_mobile_1x.jpg");

    /* -- RETINA -- */
    @media (min-resolution: $retina) {
      background-image: url("../img/main_banner_mobile_2x.jpg");
    }
  }
}

.main-banner__inner {
  min-height: 463px;
}

.main-banner__title {
  margin: 0;
  padding-top: 182px;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    margin-left: -15px;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    padding-top: 190px;
    margin: 0;
  }
}
