/* -- HEADER -- */
.header {
  position: relative;

  min-height: 176px;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    min-height: 126px;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    min-height: 92px;
  }
}

.header__top {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 176px;

  // pointer-events: none;

  &--brown {
    /* -- TABLET -- */
    @media (max-width: $tablet_max_width) {
      background-color: $mobile_nav_bg;
    }
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    z-index: 100;
    height: 126px;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    height: 92px;
  }
}

.header__burger {
  position: absolute;
  left: 45px;
  top: 55px;
  z-index: 100;

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    left: 15px;
    top: 38px;
  }
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  fill: $mobile_nav_bg;

  &--white {
    /* -- TABLET -- */
    @media (max-width: $tablet_max_width) {
      fill: $primary_bg_color;
    }
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    top: 20px;

    width: 52px;
    height: 52px;
  }
}

.header__logo svg {
  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    width: 52px;
    height: 52px;
  }
}

.header__cart {
  @media (min-width: $desktop_width) {
    display: none;
  }

  position: absolute;
  right: 45px;
  top: 55px;
  z-index: 100;

  height: 18px;
  width: 20px;

  border-style: none;

  cursor: pointer;

  background-repeat: no-repeat;
  background-image: url("../img/cart.svg");
  background-color: $primary_bg_color;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }

  transition: $standart_transition;

  &--white {
    background-image: url("../img/cart_white.svg");
    background-color: $mobile_nav_bg;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    right: 15px;
    top: 38px;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;

    background-color: $mobile_nav_bg;
    position: relative;
    top: 136px;
    padding: 20px;
    margin-bottom: 170px;


    &--fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;

      width: 100%;
      height: 100vh;

      padding-top: 136px;
      padding-right: 45px;
      padding-left: 45px;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;

      overflow-y: auto;
    }

    &--hidden {
      display: none;
    }
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    padding-top: 102px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

// SEARCH
.header__search-form {
  position: relative;

  width: 50%;
  padding-top: 43px;

  &::before {
    position: absolute;

    bottom: 5px;
    left: 0;

    width: 14px;
    height: 14px;

    content: "";

    background-image: url("../img/search.svg");
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 100%;
    padding-top: 0;
    margin-bottom: 45px;

    &::before {
      bottom: 12px;
      left: 12px;

      width: 16px;
      height: 16px;

      background-image: url("../img/search_white.svg");
    }
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 35px;
  }
}

.header__search-form input {
  padding-left: 30px;

  font-size: 14px;
  line-height: 21px;

  border: none;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 100%;
    height: 40px;
    padding-left: 50px;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 21px;

    &::placeholder {
      color: transparent;
    }
  }
}

// USER MENU
.header__user-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 50%;
  padding: 0;
  padding-top: 43px;
  margin: 0;
  margin-bottom: 51px;

  font-size: 14px;
  line-height: 21px;

  list-style: none;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 0;
    padding-bottom: 0;

    order: 4;
  }
}

.header__user-menu li {
  margin-left: 35px;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    margin-left: 0;

    &:last-child {
      display: none;
    }
  }
}

.header__user-menu a {
  color: $text_color;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }

  transition: $standart_transition;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    font-size: 18px;
    line-height: 130%;
    color: $light_text_color;
  }
}

// HEADER MENU
.header__menu {
  width: 100%;

  border-top: 1px solid #f6f5f4;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    order: 2;

    margin-bottom: 42px;

    border-top: none;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 32px;
  }
}

.header__menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  min-height: 61px;
  padding: 0;
  margin: 0;
  margin-left: -20px;

  list-style: none;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-left: 0;
  }
}

.header__menu li {
  margin-left: 35px;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    &:not(:last-child) {
      margin-bottom: 21px;
    }

    margin-left: 0;
  }
}

.header__menu a {
  color: $text_color;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }

  transition: $standart_transition;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    font-size: 24px;
    line-height: 36px;
    color: $light_text_color;
  }
}

// ABOUT MENU
.header__about-menu {
  display: none;

  padding: 0;
  margin: 0;

  list-style: none;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    display: block;

    margin-bottom: 42px;

    order: 3;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 32px;
  }
}

.header__about-menu li {
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.header__about-menu a {
  font-size: 18px;
  line-height: 130%;
  color: $light_text_color_075;
}
// .main-nav
