// Resolution
$mobile_width: 320px;
$mobile_max_width: 767px;
$tablet_width: 768px;
$tablet_max_width: 1023px;
$desktop_width: 1024px;

// Container
$desktop_container_width: 1366px;

// Paddings
$mobile_padding: 15px;
$tablet_padding: 45px;
$desktop_padding: 98px;

// Fonts
$primary_font_family: "Poppins", "Arial", sans-serif;
$cormorant_font: "Cormorant Garamond", "Times New Roman", serif;

// Font colors
$menu_color: #141517;
$text_color: #1d1613;
$hint_color: #9b9997;
$light_text_color: #ffffff;
$light_text_color_075: rgba(255, 255, 255, 0.75);
$text_color_07: rgba(44, 46, 63, 0.7);
$text_color_05: rgba(44, 46, 63, 0.5);
$text_color_03: rgba(44, 46, 63, 0.3);
$accent_color: #fe7865;

// Background colors
$primary_bg_color: #ffffff;
$mobile_nav_bg: #a87b62;
$footer_bg_color: #000000;

// Element statements
$hover_opacity: 0.7;
$active_opacity: 0.5;

// Animation
$standart_transition: 0.3s;

// Retina
$retina: 1.5dppx;
